.button-container {
    display: flex;
    color: var(--color-white);
    font-family: var(--big-shoulders-display-font);
    font-weight: 800;
    line-height: 2.4rem;
    letter-spacing: .4rem;
}

.button,
.button:link,
.button:visited {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--color-primary);
    transition: all .4s;
}

.icon-container {
    font-size: 2.4rem;
    height: 100%;
    padding: 2.4rem 1.5rem;
    background-color: var(--color-secondary);
    transition: all .4s;
}

.button:hover {
    background-color: var(--color-secondary);
}

.button:hover > .icon-container {
    background-color: var(--color-primary);
}

.button-1 {
    padding-left: 3.5rem;
}

.button-2 {
    padding-right: 3.5rem;
}

.icon-button-1 {
    margin-left: 3.5rem;
}

.icon-button-2 {
    margin-right: 3.5rem;
}
