.header {
	position: relative;
}

.background-black {
	display: none;
}

.hero-image {
	width: 100%;
	height: 100%;
}

.header__content {
	padding: 3.2rem 1.6rem;
}

.header__content--title {
	font-family: var(--big-shoulders-display-font);
	font-size: 6rem;
	line-height: 5.5rem;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--color-primary);
	text-shadow: var(--text-shadow-1);
}

.header__content--title > span {
	display: block;
}

.header__content--text {
	margin: 3.2rem 0;
}

/* tablets and up */
@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
	.header {
		display: flex;
		align-items: center;
	}

	.hero-image--container {
		width: 43.7rem;
		height: 70rem;
	}

	.header__content {
		margin-left: -4rem;
		width: 48%;
		padding: 0;
	}
}

/* Desktop */
@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.header {
		height: 100%;
	}

	.background-black {
		display: block;
		min-width: 45rem;
		height: 80rem;
		background-color: var(--color-primary);
	}

	.hero-image--container {
		width: 54rem;
		height: 80rem;
	}

	.header__content--title {
		position: absolute;
		top: 18.9rem;
		left: 16.5rem;
		font-size: 9.6rem;
		line-height: 8.8rem;
		background: linear-gradient(to right, var(--color-white) 0 63.53%, var(--color-primary) 63.53%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: none;
	}

	.header__content {
		width: 30%;
	}
}
