.footer {
    padding: 4.8rem;
}

.footer__title {
    font-family: var(--big-shoulders-display-font);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.7rem;
}

.footer__title > span {
    display: block;
}

.footer__text {
    margin: 3.8rem 0;
    font-size: var(--default-font-size);
    line-height: 2.6rem;
}

.icon,
.icon:link,
.icon:visited {
    display: inline-block;
    text-decoration: none;
    padding-right: 2rem;
    color: inherit;
}

.primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.secondary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/* tablets and up */
@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
    .footer {
        display: flex;
    }

    .footer__title {
        line-height: 2.2rem;
    }

    .footer__text {
        width: 28.1rem;
        margin: 0;
        margin-left: 6.5rem;
        margin-right: 13.3rem;
    }
}

/* Desktop */
@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .footer {
        padding: 16.5rem 8rem;
    }

    .footer__title {
        font-size: 150%;
        line-height: 3rem;
    }

    .footer__text {
        width: 43rem;
        margin-left: 14.1rem;
    }

    .footer__social {
        margin-left: auto;
        margin-right: 16.5rem;
    }

    .icon {
        transition: all .4s;
    }

    .icon:hover {
        color: var(--color-secondary);
    }
}