@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}

.hero-image {
  width: 100%;
}

.main-title {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 60px;
  line-height: 50px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 32px 0;
  color: #151515;
  text-shadow: 0px 4px 4px #000000;
}

.main-content {
  padding: 0 16px;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  line-height: 28px;
}